In [6]:
import mysql.connector

In [7]:
pip install mysql-connector-python==8.3.0

Requirement already satisfied: mysql-connector-python==8.3.0 in c:\users\hp\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import mysql.connector

In [9]:
conn=mysql.connector.connect(host='localhost',password='1234',user='root')

if conn.is_connected():
    print('connection established')

connection established

In [10]:
mycursor=conn.cursor()

In [13]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('aaft',)
('classicmodels',)
('db2',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('vehicle',)

In [15]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')
mycursor=mydb.cursor()
mycursor.execute("create database SODS")

In [25]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
t="CREATE TABLE Book(bookid int(4),title varchar(20),price float(5,2))"
mycursor.execute(t)

ProgrammingError: 1050 (42S01): Table 'book' already exists

In [26]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
mycursor.execute("show tables")
for db in mycursor:
    print(db)

('book',)

In [27]:
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'Python2',350)
mycursor.execute(s,r1)
mydb.commit()

In [28]:
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)
(1, 'SQL', 550.0)
(1, 'Python2', 350.0)
(1, 'Python2', 350.0)

In [29]:
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'SQL',550)
mycursor.execute(s,r1)
mydb.commit()

In [30]:
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)
(1, 'SQL', 550.0)
(1, 'Python2', 350.0)
(1, 'Python2', 350.0)
(1, 'SQL', 550.0)

In [31]:
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'ML',450)
mycursor.execute(s,r1)
mydb.commit()

In [32]:
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'Python2', 350.0)
(1, 'SQL', 550.0)
(1, 'Python2', 350.0)
(1, 'Python2', 350.0)
(1, 'SQL', 550.0)
(1, 'ML', 450.0)